/* Header Wrapper */
.main-header-wrapper {
  position: fixed;
  margin-top: 68px;
  padding-bottom: 1em;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.main-header > a {
  font-size: 12px;
}

/* Content */
.content-wrapper {
  padding-top: 188px;
  justify-content: center;
  margin: 0 10cm;
}

.content-container {
  margin-top: 3em;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";
  color: #33ac1f;
  font-size: 24pt;
  font-weight: 900;
  display: inline-block;
  width: 0.5em;
  margin-left: -1em;
}

.highlight-item {
  color: #33ac1f;
}
