/* Article Footer */
.content-footer {
  display: flex;
  margin-top: 1.5cm;
}

.link-article-footer {
  display: inline-flex;
  background-color: #1f6c12;
  color: white;
  font-size: 18px;
  padding: 12px 14px;
  border-radius: 16px;
  min-width: 250px;
}

.link-article-footer:first-child {
  margin-right: auto;
}

.link-article-footer:last-child {
  display: flex;
  justify-content: space-between;
}

.link-article-footer span:last-child {
  font-weight: 900;
}

.link-article-footer.disable-link {
  min-width: 120px;
  font-weight: 900;
}

/* Reaction */
.reaction-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reaction-button {
  background-color: #33ac1f;
  font-size: 12pt;
  margin-right: 16px;
  font-weight: 700;
}

/* Comment */
.comment-wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-form-container {
  display: flex;
}

form {
  align-self: flex-end;
  width: 100%;
}

.comment-input {
  width: 100%;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  margin-left: 10px;
  font-size: 16px;
  padding: 8px 5px;
}

.comment-avatar img {
  display: block;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #33ac1f;
}

.comment-container {
  margin-top: 2em;
}

.main-comment,
.reply-comment {
  display: flex;
}

.comment-placeholder {
  font-size: 14px;
  margin-left: 10px;
}

.comment-placeholder div {
  padding: 2px 0;
}

.comment-title span:first-child {
  color: #33ac1f;
}

.comment-title span:last-child {
  margin-left: 3em;
}

.reply-comment {
  margin-top: 20px;
  margin-left: 60px;
}
