/* Banner */
header.main-banner {
  display: flex;
  height: 630px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%),
    url("../assets/images/home/banner.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header.main-banner p {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Content Daftar Materi */
header > h1 {
  text-align: center;
  margin: 2em;
}

.materi-container {
  display: flex;
  padding: 4cm 3cm;
  color: white;
  margin: 3em;
  margin-top: 0;
  border-radius: 65px;
  justify-content: space-between;
  font-weight: 700;
}

.materi-container-header {
  font-size: 48px;
  align-self: center;
}

.materi-container-content {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

#daftar-materi .link-styling {
  align-self: flex-end;
}

.materi-dap {
  background: linear-gradient(
      270deg,
      rgba(4, 4, 4, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      270.72deg,
      rgba(255, 255, 255, 0) 1.06%,
      rgba(14, 14, 14, 0.5) 99.87%
    ),
    url("../assets/images/home/dap.jpg") no-repeat center center;
  background-size: cover;
}

.materi-cpp {
  background: linear-gradient(
      270deg,
      rgba(4, 4, 4, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      270.72deg,
      rgba(255, 255, 255, 0) 1.06%,
      rgba(14, 14, 14, 0.5) 99.87%
    ),
    url("../assets/images/home/cpp.jpg") no-repeat center center;
  background-size: cover;
}

.materi-container:last-child {
  background: linear-gradient(
      270deg,
      rgba(4, 4, 4, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      270.72deg,
      rgba(255, 255, 255, 0) 1.06%,
      rgba(14, 14, 14, 0.5) 99.87%
    );
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 2cm;
}

/* Artikel Favorit & Video Favorit */
#materi-favorite article {
  display: flex;
  justify-content: space-around;
  color: white;
}

.favorite-container {
  display: flex;
  flex-direction: column;
  width: 443px;
  height: 294px;
  border-radius: 40px;
  justify-content: space-between;
}

.favorite-container-title-wrapper {
  margin-left: 1cm;
  margin-top: 0.5cm;
  font-weight: 700;
}

.favorite-container-materi {
  font-size: 14px;
  margin-bottom: 12px;
}

.favorite-container-title {
  font-size: 24px;
  margin: 0;
}

.favorite-container .favorite-link-wrapper {
  align-self: flex-end;
  margin-bottom: 1cm;
  margin-right: 1cm;
}
