@font-face {
  font-family: "Cocogoose";
  src: url("../assets/fonts/Cocogoose_trial.otf");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
  color: black;
}

/* Navigation Navbar */
.navbar {
  display: flex;
  background-color: #33ac1f;
  align-items: center;
  padding: 12px 14px;
  border-bottom: 8px solid #1f6c12;
}

.nav-brand {
  margin-right: auto;
  font-family: "Cocogoose";
  font-size: 24px;
}

.nav-link:not(.nav-brand) {
  font-size: 18px;
  margin-left: 32px;
}

a.nav-link {
  color: white;
}

button#nav-user {
  margin-left: 12px;
}

button#lang-select {
  background: url("../assets/images/lang/ind.svg") no-repeat center center;
}

button#nav-user {
  background: url("../assets/images/avatar.jpg") no-repeat center center;
}

button#lang-select,
button#nav-user {
  background-color: transparent;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  background-size: cover;
  border-radius: 100px;
  padding: 18px;
}
